/nav.navbar-default.navbar-static-side role='navigation'
/  .sidebar-collapse
/    li.navbar-header
/      .dropdown.profile-element
/        .span
/          /= image_tag ,size: '50x50'
/    li =link_to '#' do
/      i.fa.fa-users
/        span.nav-laber= "User"
/        span.fa.arrow
/    li = link_to '#' do
/      i.fa.fa-wechat
/        span.nav-laber= "User"
/        span.fa.arrow
/    li = link_to '#' do
/      i.fa.fa-users
/        span.nav-laber= "User"
/        span.fa.arrow
//    li = link_to 'wechatusers', wechat_users_path
//
//    li = link_to 'sharedlogs', shared_logs_path
//.container
//  .row
//    .span3.bs-docs-sidebar
//      ul.nav.nav-list.bs-docs-sidebar
//        li =link_to '#' do
//          i.icon_toast
/
/
